# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Pytest cache
.pytest_cache/

# Environment files
.env
*.env

# IDE/editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
